.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse / VS Code Java (JDT) ###
bin/
.classpath
.project
.settings/

# Contains a machine-specific JDK path
gradle.properties
